
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');


@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Base background & text */
   /* soft very light red */
  --color-base-200: #FFE5E5;  /* slightly stronger soft red */
  --color-base-300: #FFDADA;  /* a bit deeper */
  --color-base-content: #1A202C; /* dark text (almost black) */

  /* Brand Colors */
  --color-primary: #44c781;   /* lime green (buttons, CTAs) */
  --color-primary-content: #e5e7eb;

  --color-secondary: rgba(213, 63, 63, 0.9); /* red accents */
  --color-secondary-content: #f3f4f6;

  --color-accent: #FFE5E5;    /* soft red accent */
  --color-accent-content: #1A202C;

  --color-neutral: white;   /* very light neutral red #FFF0F0*/

  /* Feedback Colors */
  --color-info: #63B3ED;      /* blue info */
  --color-success: #38A169;   /* green message success */
  --color-warning: #ED8936;   /* orange */
  --color-error: rgba(213, 63, 63, 1);     /* soft red error */

  /* NEW GREEN VARIABLES */
  --color-soft-green: #E6F9F0;  /* very soft green background */
  --color-dark-green: #1F6F4E;  /* deep dark green */
 --color-dark-blue: #1E293B;
 --color-dark-content: black;

}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  
/* main background */
  --color-base-200: #1F2937; /* card background */
  --color-base-300: #374151; /* slight contrast */
  --color-base-content: #F9FAFB; /* white text */

  --color-primary: #44c781;         /* lime green buttons */
  --color-primary-content: #374151;

  --color-secondary: rgba(213, 63, 63, 0.9);       /* bright red accents */
  --color-secondary-content: #9ca3af;

  --color-accent: #7B2A2A;          /* muted dark red accent */
  --color-accent-content: #1A202C;

  --color-neutral: #1F2937;         /* dark neutral areas */
  --color-neutral-content: #F9FAFB;

  --color-info: #63B3ED;            /* info blue */
  --color-info-content: #0A0A0A;

  --color-success: #48BB78;         /* green success */
  --color-success-content: #0A0A0A;

  --color-warning: #ED8936;         /* orange warning */
  --color-warning-content: #0A0A0A;

  --color-error: rgba(213, 63, 63, 1);           /* light red error */
  --color-error-content: #0A0A0A;

  /* NEW GREEN VARIABLES */
  --color-soft-green: #0F2E1D;      /* very soft dark green */
  --color-dark-green: #17663F;      /* dark green borders */
  --color-dark-blue: white;
 --color-dark-content: white;

}



/* common */
h1{
  @apply font-extrabold text-3xl md:text-5xl 
}
h2{
  @apply font-bold text-2xl md:text-3xl 
}
h3{
  @apply font-bold text-xl md:text-2xl 
}

h4{
   @apply font-bold text-sm md:text-lg 
}

.logo{
    font-family: "TASA Orbiter", sans-serif;
}

.badge{
  @apply rounded-3xl
}

.btn1{
  @apply px-3 py-1  sm:px-4.5 sm:py-1.5 rounded-3xl border-3 border-secondary hover:border-[#d53f3f] bg-secondary hover:bg-[#d53f3f] font-bold text-white text-lg whitespace-nowrap transition-all duration-300 ease-in-out
}
.btn2{
  @apply px-3 py-1 sm:px-4.5 sm:py-1.5  rounded-3xl border-3 border-secondary hover:bg-secondary hover:text-white font-bold text-lg whitespace-nowrap text-base-content  transition-all duration-300 ease-in-out
}
.btn3{
  @apply px-3 py-1 sm:px-4.5 sm:py-1.5  rounded-3xl border-3 border-secondary hover:bg-secondary hover:text-white font-bold text-lg whitespace-nowrap text-[#1A202C]  transition-all duration-300 ease-in-out
}

.card-btn{
    @apply px-3 py-1  sm:px-4.5 sm:py-1.5 rounded-3xl border-3 border-primary hover:border-[#36ac6d] bg-primary hover:bg-[#36ac6d] font-bold text-[#1A202C] text-lg whitespace-nowrap transition-all duration-300 ease-in-out
}

.search-btn{
  @apply px-3 py-1  sm:px-4.5 sm:py-1 rounded-3xl border-3 border-secondary hover:border-[#d53f3f] bg-secondary hover:bg-[#d53f3f] font-bold text-white text-lg whitespace-nowrap transition-all duration-300 ease-in-out
}

.scale {
  @apply transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:scale-105
}
/* for element */
nav a  li{
  @apply text-base-content font-semibold px-2 py-2 mr-3 transition-all duration-600 ease-in-out
}

nav a.active li{
  @apply bg-secondary rounded-3xl px-2 py-2 text-white
}

nav a li:hover {
  @apply bg-secondary  rounded-3xl px-2 py-2 text-white
}

/* body{
    background-color: #d6d6d6;
} */